#kalkylator{
    width: 200px;
    height: 150px;
    border: 1px solid black; 
    text-align: center;
    background: lightsalmon;
    margin: auto;
}
#display{
    margin-top: 10px;
    width: 120px;
    height: 12px;
}

.button{
    width: 28px;
    height: 25px;
}